# Configuration file

general {
    # Tempo em ticks para duplicar um item.
    Min: 1
    Max: 1200
    I:duplicationTicks=100

    # Ativar efeitos de partículas nos duplicadores.
    B:enableParticles=true
}